<?xml version="1.0" encoding="UTF-8" ?> <!-- 기본 DAO 역할 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/yedam/common/db.properties"></properties> <!-- 연결정보가 담긴 파일 연결 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- a_b => aB로 변환해줌 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases> <!-- 별칭 붙혀줌 -->
		<typeAlias alias="employee" type="com.yedam.domain.Employee" /> 
		<typeAlias alias="notice" type="com.yedam.notice.domain.NoticeVO" />
		<typeAlias alias="member" type="com.yedam.member.domain.MemberVO" />
		<typeAlias alias="reply" type="com.yedam.notice.domain.ReplyVO" />
	</typeAliases>
	<environments default="development"> <!-- 연결정보파일 사용 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED"> <!-- 접속갯수제한걸기 -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/yedam/notice/mapper/NoticeMapper.xml"/> 
		<mapper resource="com/yedam/member/mapper/MemberMapper.xml"/><!-- NoticeMapper.xml로 연결보냄 -->
		<mapper resource="com/yedam/notice/mapper/ReplyMapper.xml"/>
	</mappers>
</configuration>